{% extends "_base.njk" %}

{% set thispage = 'login' %}
{% set pagetitle = 'Login' %}
{% set pagedesc = 'Login to Manga & Anime Society Kharagpur [MASK]! site' %}

{% block pagecontent %}
    <div class="container">
        <div class="wrapper">
            <div class="login-form-box">
                <h2>Login</h2>
                <form action="#" class="action">
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="text" required>
                        <label for="Username">Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="text" required>
                        <label for="Password">Password</label>
                    </div>
                    <div class="remember-me">
                        <label><input type="checkbox">Remember Me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
					<button type="submit" class="btn">Login</button>
                    <div class="register">
                        <p>Don't have an account?<a href="#" class="register">Register now!</a></p>
                    </div>
                </form>
				 <h4>OR</h4>
                <div>
	<a class="undecorated-link" href="/login/federated/google"><img src="/assets/icons/google_sign_in.png" height="46"/></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customcss %}
	<style>
		:root {
			--abyss       : #060606;
			--shadow-gray : #1f1f1f;
			--darker-gray : #252525;
			--dark-gray   : #373737;
			--tinted-gray : #444444;
			--medium-gray : #555555;
			--middle-gray : #606060;
			--gray        : #6d6d6d;
			--ghost-gray  : #777777;
			--light-gray  : #a9a9a9;
			--off-white   : #d0d0d0;
			--white       : #ffffff;

			--dark-red    : #8b0000;
			--red         : #d61f35;
			--error-red   : #e84e4f;
			--light-pink  : #f1adad;
		}
		.container{
			width:inherit;
			height: inherit;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		.wrapper {
			position: relative;
			width: 400px;
			height: 600px;
			background: transparent;
			border: 3px solid;
			border-color: var(--dark-gray);
			border-top-color:var(--red);
			border-bottom-color: var(--red);
			border-top-left-radius: 20px;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 20px;
			backdrop-filter: blur(10px);
			box-shadow: 0 0 20px rgba(0, 0, 0, .5);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.login-form-box {
			width:100%;
			padding: 40px;
			box-sizing: border-box;
		}
		.login-form-box h2 {
			font-size: 2em;
			color: #d0d0d0;
			text-align: center;
		}
		.input-box {
			position: relative;
			width: 100%;
			height: 60px;
			border-bottom: 2px solid var(--error-red);
			margin: 30px 0;
		}
		input[type=email]{
			color: var(--white);
			font-size: 1em;
		}
		input[type=text]{
			color: var(--white);
			font-size: 1em;
		}
		.input-box label {
			position: absolute;
			top: 30%;
			left: 40px;
			transform: translateX(-50%);
			font-size: 1em;
			color: var(--off-white);
			font-weight: 500;
			pointer-events: none;
			transition: .5s;
			font-size: 1em;
			font-color: var(--off-white);
			font-weight: 600;
		}
		.input-box input:focus~label,
		.input-box input:valid~label{
			left: 0px;
			color: rgba(0,0,0,0);
			backdrop-filter: blur(100px);
		}
		.input-box input {
			width: 100%;
			height: 100%;
			background: none;
			outline:none;
			border: none;
			padding: 0 25px 0 5px;
		}
		.remember-me {
			font-size: .9em;
			columns: var(--off-white);
			font-weight: 500;
			margin: -5px 0 20px;
			display: flex;
			justify-content: space-between;
		}
		.remember-me label input {
			accent-color: var(--light-pink);
			margin-right: 3px;
		}
		.remember-me a {
			color: #a9a9a9;
			text-decoration: none;
		}

		.remember-me a:hover {
			text-decoration: underline;
		}
		.btn {
			width: 100%;
			height: 45px;
			background: var(--red);
			border: none;
			outline: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 1em;
			color: var(--white);
			font-style: 500;
		}
		.register {
			font-size: 0.9em;
			color: var(--off-white);
			text-align: center;
			font-weight: 500;
			margin: 25px 0 10px;
		}
		.register p a {
			color: var(--white);
			text-decoration:none;
			font-weight: 600;
		}
		.register p a:hover {
			text-decoration: underline;
		}
		.login-form-box h4 {
			margin: 15px;
		}
	</style>
{% endblock %}

{% block customjs %}

{% endblock %}
